<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlServerSourceConfigSection" type="DataBridge.SqlServer.Configuration.SqlServerSourceConfigSection, DataBridge.SqlServer" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <SqlServerSourceConfigSection>
    <SourceDatabaseConnectionString value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DataBridge.SqlServer.IntegrationTests.Source;Integrated Security=True;" />
    <ChangeTrackingRetentionInitialValueInDays>2</ChangeTrackingRetentionInitialValueInDays>
    <SourceTables>
      <!-- changeDetectionMode: 1 = ASAP, 2 = Polling -->
      <add id="dbo.Test" name="Test" schema="dbo" changeDetectionMode="2" pollIntervalInMilliseconds="5000" qualityCheckIntervalInMilliseconds="60000" qualityCheckRecordBatchSize="10" primaryKeyColumn="Id" primaryKeyColumnIsNumber="true" lastUpdatedAtColumn="LastUpdatedOnUtc">
        <ColumnsToInclude>
          <add name="Id" />
          <add name="LastUpdatedOnUtc" />
          <add name="Name" />
          <add name="DateOfBirthUtc" />
        </ColumnsToInclude>
        <ColumnsToIgnore>
        </ColumnsToIgnore>
      </add>
    </SourceTables>
  </SqlServerSourceConfigSection>
  <appSettings>
    <!-- This database will get created for you if it does not exist.  WARNING: each time tests run it will wipe all the tables from this database -->
    <add key="SourceDatabaseConnectionStringValid" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DataBridge.SqlServer.IntegrationTests.Source;Integrated Security=True;" />
    <!-- The tests will not commence if this database does exist, rename the database to something that does not exist! -->
    <add key="SourceDatabaseConnectionStringInvalidNotExists" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DoesNotExist;Integrated Security=True;" />
    <add key="SourceMsdbDatabaseConnectionStringValid" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=msdb;Integrated Security=True;" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>